# For a tool to generate a customized configuration, see https://zed0.co.uk/clang-format-configurator/
# For list of options, see https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Google
FixNamespaceComments: 'true'
NamespaceIndentation: Inner
SpaceInEmptyParentheses: 'false'
SpacesInParentheses: 'false'
UseTab: Never
AllowShortFunctionsOnASingleLine: 'false'

ColumnLimit: '80'
TabWidth: '2'
